<?xml version='1.0' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>OldData</string>
  </disabledAdministrativeMonitors>
  <version>1.509.3</version>
  <numExecutors>2</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:mdescher</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Create:niklaus</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:mdescher</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Delete:niklaus</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:mdescher</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.ManageDomains:niklaus</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:mdescher</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.Update:niklaus</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:mdescher</permission>
    <permission>com.cloudbees.plugins.credentials.CredentialsProvider.View:niklaus</permission>
    <permission>hudson.model.Computer.Configure:mdescher</permission>
    <permission>hudson.model.Computer.Configure:niklaus</permission>
    <permission>hudson.model.Computer.Connect:anonymous</permission>
    <permission>hudson.model.Computer.Connect:mdescher</permission>
    <permission>hudson.model.Computer.Connect:niklaus</permission>
    <permission>hudson.model.Computer.Connect:slaves</permission>
    <permission>hudson.model.Computer.Create:mdescher</permission>
    <permission>hudson.model.Computer.Create:niklaus</permission>
    <permission>hudson.model.Computer.Delete:mdescher</permission>
    <permission>hudson.model.Computer.Delete:niklaus</permission>
    <permission>hudson.model.Computer.Disconnect:mdescher</permission>
    <permission>hudson.model.Computer.Disconnect:niklaus</permission>
    <permission>hudson.model.Computer.Disconnect:slaves</permission>
    <permission>hudson.model.Hudson.Administer:mdescher</permission>
    <permission>hudson.model.Hudson.Administer:niklaus</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:mdescher</permission>
    <permission>hudson.model.Hudson.ConfigureUpdateCenter:niklaus</permission>
    <permission>hudson.model.Hudson.Read:anonymous</permission>
    <permission>hudson.model.Hudson.Read:mdescher</permission>
    <permission>hudson.model.Hudson.Read:niklaus</permission>
    <permission>hudson.model.Hudson.Read:slaves</permission>
    <permission>hudson.model.Hudson.RunScripts:mdescher</permission>
    <permission>hudson.model.Hudson.RunScripts:niklaus</permission>
    <permission>hudson.model.Hudson.UploadPlugins:mdescher</permission>
    <permission>hudson.model.Hudson.UploadPlugins:niklaus</permission>
    <permission>hudson.model.Item.Build:mdescher</permission>
    <permission>hudson.model.Item.Build:niklaus</permission>
    <permission>hudson.model.Item.Cancel:mdescher</permission>
    <permission>hudson.model.Item.Cancel:niklaus</permission>
    <permission>hudson.model.Item.Configure:mdescher</permission>
    <permission>hudson.model.Item.Configure:niklaus</permission>
    <permission>hudson.model.Item.Create:mdescher</permission>
    <permission>hudson.model.Item.Create:niklaus</permission>
    <permission>hudson.model.Item.Delete:mdescher</permission>
    <permission>hudson.model.Item.Delete:niklaus</permission>
    <permission>hudson.model.Item.Discover:mdescher</permission>
    <permission>hudson.model.Item.Discover:niklaus</permission>
    <permission>hudson.model.Item.Read:mdescher</permission>
    <permission>hudson.model.Item.Read:niklaus</permission>
    <permission>hudson.model.Item.Workspace:mdescher</permission>
    <permission>hudson.model.Item.Workspace:niklaus</permission>
    <permission>hudson.model.Run.Delete:mdescher</permission>
    <permission>hudson.model.Run.Delete:niklaus</permission>
    <permission>hudson.model.Run.Update:mdescher</permission>
    <permission>hudson.model.Run.Update:niklaus</permission>
    <permission>hudson.model.View.Configure:mdescher</permission>
    <permission>hudson.model.View.Configure:niklaus</permission>
    <permission>hudson.model.View.Create:mdescher</permission>
    <permission>hudson.model.View.Create:niklaus</permission>
    <permission>hudson.model.View.Delete:mdescher</permission>
    <permission>hudson.model.View.Delete:niklaus</permission>
    <permission>hudson.model.View.Read:mdescher</permission>
    <permission>hudson.model.View.Read:niklaus</permission>
    <permission>hudson.scm.SCM.Tag:mdescher</permission>
    <permission>hudson.scm.SCM.Tag:niklaus</permission>
  </authorizationStrategy>
  <securityRealm class="hudson.security.HudsonPrivateSecurityRealm">
    <disableSignup>false</disableSignup>
    <enableCaptcha>false</enableCaptcha>
  </securityRealm>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <systemMessage>&lt;h1&gt;Continuos Integration für Elexis 3&lt;/h1&gt;&#xd;
&#xd;
Danke an Medelexis für den Build-Server!&#xd;
&#xd;
</systemMessage>
  <markupFormatter class="hudson.markup.RawHtmlMarkupFormatter">
    <disableSyntaxHighlighting>false</disableSyntaxHighlighting>
  </markupFormatter>
  <jdks>
    <jdk>
      <name>JDK7-u40</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller>
              <id>jdk-7u40-oth-JPR</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
    <jdk>
      <name>JDK6-u45</name>
      <home></home>
      <properties>
        <hudson.tools.InstallSourceProperty>
          <installers>
            <hudson.tools.JDKInstaller>
              <id>jdk-6u45-oth-JPR</id>
              <acceptLicense>true</acceptLicense>
            </hudson.tools.JDKInstaller>
          </installers>
        </hudson.tools.InstallSourceProperty>
      </properties>
    </jdk>
    <jdk>
      <name>System-MACOSX</name>
      <home>/Library/Java/JavaVirtualMachines/jdk1.7.0_25.jdk/Contents/Home</home>
      <properties/>
    </jdk>
  </jdks>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds/>
  <slaves>
    <slave>
      <name>windows-7</name>
      <description>A windows-7 slave which has jubula installed to run the GUI tests</description>
      <remoteFS>e:\ci</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>NORMAL</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label>win32.win32.x86</label>
      <nodeProperties/>
      <userId>niklaus</userId>
    </slave>
    <slave>
      <name>Linux-64-bit</name>
      <description></description>
      <remoteFS>/opt/ci</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label>linux.gtk.x86_64</label>
      <nodeProperties/>
      <userId>niklaus</userId>
    </slave>
    <slave>
      <name>MacOSX-64-bit</name>
      <description>Slave für Jubula GUI-Builds</description>
      <remoteFS>/opt/ci</remoteFS>
      <numExecutors>1</numExecutors>
      <mode>EXCLUSIVE</mode>
      <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
      <launcher class="hudson.slaves.JNLPLauncher"/>
      <label>macosx.cocoa.x86_64</label>
      <nodeProperties/>
      <userId>niklaus</userId>
    </slave>
  </slaves>
  <quietPeriod>5</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>Alle</name>
      <description>&lt;h1&gt;Continuos Integration für Elexis 3&lt;/h1&gt;&#xd;
&#xd;
Danke an Medelexis für den Build-Server!&#xd;
&#xd;
</description>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
    </hudson.model.AllView>
    <listView>
      <owner class="hudson" reference="../../.."/>
      <name>3.0</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties class="hudson.model.View$PropertyList"/>
      <jobNames>
        <comparator class="hudson.util.CaseInsensitiveComparator"/>
      </jobNames>
      <jobFilters/>
      <columns>
        <hudson.views.StatusColumn/>
        <hudson.views.WeatherColumn/>
        <hudson.views.JobColumn/>
        <hudson.views.LastSuccessColumn/>
        <hudson.views.LastFailureColumn/>
        <hudson.views.LastDurationColumn/>
        <hudson.views.BuildButtonColumn/>
        <org.jenkins.ci.plugins.column.console.LastBuildColumn plugin="console-column-plugin@1.5"/>
      </columns>
      <includeRegex>.*</includeRegex>
    </listView>
  </views>
  <primaryView>Alle</primaryView>
  <slaveAgentPort>8752</slaveAgentPort>
  <label></label>
  <nodeProperties/>
  <globalNodeProperties/>
</hudson>